
# One of: trace | debug | info | warn | error | fatal
# Default: debug (dev), warn (prod)
PUBLIC_LOG_LEVEL=info

# Host/Port used when running the built app (node build)
HOST=0.0.0.0
PORT=3000
# NODE_ENV=production

